# Composer Dependencies
./vendor/

# Node Dependencies
node_modules/

# env files
*.env

# Git folders and files
.git/
.gitignore
.gitattributes

#
/public/build
/public/hot
/public/storage
/storage/*.key

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

# DockerFiles
DockerFile
.dockerignore